[submodule "lib/tycommon"]
	path = lib/tycommon
	url = git@github.com:tylibs/tycommon.git
[submodule "third_party/esp-idf-kconfig"]
	path = third_party/esp-idf-kconfig
	url = git@github.com:tylibs/esp-idf-kconfig.git
[submodule "third_party/etl"]
	path = third_party/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "third_party/esp-nimble-cpp"]
	path = third_party/esp-nimble-cpp
	url = https://github.com/h2zero/esp-nimble-cpp
