config TY_NET
	bool "TyNet Library"
	select SETTINGS if ZEPHYR_PLATFORM
	select COMPILER_CXX_EXCEPTIONS if ESP_PLATFORM
	help
		This option enables the TyNet Library

if TY_NET
menu "TyNet configuration"
config TY_NET_MQTT_ENABLED
	bool "Enable MQTT support"
	default "n"
	help
		Selects whether Mqtt support is enabled.


config TY_NET_LOG
	bool "Enable logging"
	default "y"
	select LOG_COLORS if ESP_PLATFORM
	select LOG_DBG_COLOR_BLUE if ZEPHYR_PLATFORM
	help
		Selects whether logging messages.

endmenu # TyNet configuration
endif # TY_NET
